/* ------------ top menu --------------  */
.navbar{font-family:Arial; background-color:#4F0D1B;  border:0;  border-radius:0px}

.navbar-collapse{padding-left:0; padding-right:0;}
	.navbar-toggle{margin:7px; color:#fff}

.navbar{margin:0; z-index:999;}
ul.navbar-nav > li > a{color:#fff; padding:20px 30px; line-height: 30px; transition:all ease 0.5s; z-index: 99; min-width: 96px; text-align: center; text-transform: uppercase; }


ul.navbar-nav > li a:hover, ul.navbar-nav > li.active, 
ul.nav .open > a:focus, ul.nav li > a:focus	{background-color:#830F27; transition:all ease 0.5s;}

/* when clicked */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #830F27;

}

/* submenu style */
.navbar .dropdown-menu{z-index:999; min-width:100%; border:0; background-color:#4F0D1B}
.navbar .dropdown-menu  li a{text-align:left; padding:15px; color:#fff; }





/*  mega menu */ 
.mega-dropdown { position: static !important; }
.mega-dropdown-menu { z-index:999999;
  padding: 20px 0px;
  width: 100%;
  -webkit-box-shadow: none;
    border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  background-color:#7A0E23!important;
}
.mega-dropdown-menu ul{margin:0; padding:0}
.mega-dropdown-menu  li {color:#fff; list-style: outside none}

.mega-dropdown-menu  li  a{padding:5px!important; display:block!important;  }
.mega-dropdown-menu  li  a:hover{background-color:#4F0D1B!important}

a.title-submenu{font-weight:bold; color:rgba(0,0,0,.5); }


/* search form  */ 
.searchform{padding:10px 15px; float:right} 
.searchform .btn{ color:rgba(200,200,200,.5);border: 1px solid transparent; background-color:#830F27; }
.searchform .form-control{
	border:0; color:#fff;
	background-color:rgba(200,200,200,.1);
	width:120px!important;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.searchform .form-control:hover, .searchform .form-control:focus {
   width: 170px!important;
}